{# index.html #}
{# Создайте папку с именем templates, поместите в нее этот файл #}
<title>Давайте выберем фотографию</title>
 <center>
<h1>Выбрать фото</h1>
<form method="POST" enctype="multipart/form-data">
     <font color="grey">{{ form.hidden_tag() }}</font>
     <font color="grey">{{ form.photo }}</font>
     {% for error in form.photo.errors %}
         <span style="color: red;">{{ error }}</span>
     {% endfor %}
     {{ form.submit }}
</form>

{% if file_url %}
<br>
<img src="{{ file_url }}">
<p>{{ form.submit(type="submit", class="btn btn-info") }}</p>
{% endif %}
    <a class="btn btn-outline-info" href="/no_photo">Я не хочу загружать фото</a>
     </p><a class="btn btn-outline-info" href="/">Выход</a></p>
 </center>